sk_workflows/calendar_automation/Auto Calendar.json
{
  "name": "Auto Calendar",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "82f26f72-969f-4803-80cd-6984329be43a",
      "name": "Telegram Trigger",
      "webhookId": "3e4e6c23-7fba-465c-b70f-0a4efd087810",
      "credentials": {
        "telegramApi": {
          "id": "AqL6rZUItzeq5oMz",
          "name": "Calendar Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\nBased on the received information, process the eventName accordingly, be it a reminder, meeting or any other kind of event and give the title to the event.\n\n**Calendar Management Tools**\n- Use \"Create Event\" for creting events/reminders.\n- Use \"Get Events\" to fetch calendar schedules when requested.\n- Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n- Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }} \nAdd,update and delete events based on the date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour.\nDo not ask for extra information, work with what is available.\nDo not ask for any confirmation, use the input data as the only source for all quesries.\nIn case of \"Create Event\" also use the tool \"Get Events\" to check for conflicting events and then provide the user with conflicting details and ask for next step and then act accordingly.\nNo need to mention the timezone in the messages.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2096,
        16
      ],
      "id": "c1d6a222-cbba-44c7-8754-e3d2f4d8467d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        256
      ],
      "id": "d709b656-34ac-49dd-8b1f-a7cb9305a62e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fl6sxvn5M1m7Za9O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1968,
        256
      ],
      "id": "acb20ad3-dd63-432c-8141-8a0b314022ae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -192
      ],
      "id": "537f400b-848a-4057-a9a4-5a6771e996e0",
      "name": "Get a file",
      "webhookId": "7e94557f-d146-49f6-a72c-cb0c1353597c",
      "credentials": {
        "telegramApi": {
          "id": "AqL6rZUItzeq5oMz",
          "name": "Calendar Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a16bbd1-efed-40e2-81c0-c63d124e8b25",
              "name": "=text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        16
      ],
      "id": "56dabb12-7c66-4b4f-bf87-4ee39b739523",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51eb49c2-15c3-4d09-ad99-276e931dd95b",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        -192
      ],
      "id": "62ebf89f-6f86-43d1-8dd9-038e8ab922a6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "aea8061f-77c7-402d-88f5-ba14b016a426"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "397cf54a-fa95-4f43-8071-a88de15e8c8d",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        976,
        0
      ],
      "id": "ae867a09-35d3-433e-8160-1bc6f8a0e649",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1536,
        -192
      ],
      "id": "75ec83be-6cbf-41e3-a54e-0953a7044c38",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "fl6sxvn5M1m7Za9O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "your@email.com_cf60ob41ljspl9udqnrsr8jgmk@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "your@email.com"
        },
        "start": "={{ $fromAI('Start','it is the star date for the event/reminder') }}",
        "end": "={{ $fromAI('End','it is the end date of the meeting, for reminder keep it 5 min') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "color": "3",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remindersValues0_Minutes_Before', ``, 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2112,
        256
      ],
      "id": "dafb7de9-ee63-4b2f-8f87-1a2fd0535645",
      "name": "Create an Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GzRZKDbG7ISWoBsz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "your@email.com_cf60ob41ljspl9udqnrsr8jgmk@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "your@email.com"
        },
        "eventId": "={{ $fromAI('Event_ID', 'it is the id of the specific event') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2256,
        256
      ],
      "id": "365696cf-9bb0-444b-80cf-0f8f6f1cdcc5",
      "name": "Delete an Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GzRZKDbG7ISWoBsz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "your@email.com_cf60ob41ljspl9udqnrsr8jgmk@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "your@email.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2400,
        256
      ],
      "id": "b808d68e-e6e8-4399-896d-e0910dd86079",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GzRZKDbG7ISWoBsz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2448,
        16
      ],
      "id": "a126d6cf-07f6-4017-948c-d228fbcec9fd",
      "name": "Send a text message",
      "webhookId": "00d03db1-4df2-47f2-a718-f44a0d5595b5",
      "credentials": {
        "telegramApi": {
          "id": "AqL6rZUItzeq5oMz",
          "name": "Calendar Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "your@email.com",
          "mode": "list",
          "cachedResultName": "your@email.com"
        },
        "eventId": "={{ $fromAI('Event_ID', 'it is the id of the specific event') }}",
        "updateFields": {
          "end": "={{ $fromAI('End', 'it is the event ending date-time') }}",
          "start": "={{ $fromAI('Start', 'it is the event date starting time') }}",
          "summary": "={{ $fromAI('eventName', 'it is the name of calendar event') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2544,
        256
      ],
      "id": "f7c9fd21-01bb-4a11-9d95-1be96835d1bb",
      "name": "Update an Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GzRZKDbG7ISWoBsz",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Qatar",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a1ce3543-e8d8-4dfc-9f2d-ef588a1b6b76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00e2d86f18476fa48a0bbe70e4f34123227f25798f2099883f45d509f13b7aa9"
  },
  "id": "LIMK19tkyX9IkTew",
  "tags": []
}
